header {
  padding: 15px $gutter 5px;
  h1 {
    font-size: 2rem;
  }
  .phoneNumber {
    font-size: 20px;
  }
}

#navWrapper {
  padding-top: 0;
  margin: 0;
}

#primaryNav {
  margin: 0;
}

nav {
  button {
    display: none;
  }
  ul,
  ul.open {
    display: flex;
    border: none;
    li {
      border: none;
    }
  }
}

main {
  .heroParent {
    p {
      font-size: 23px;
    }
  }

  .cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
