$baseFontFamily: "Poppins", sans-serif;
$headingFont: "Montserrat", sans-serif;
$extraLight: 200;
$light: 300;
$base: 400;
$bold: 500;
$extraBold: 600;
$black: 700;

$darkBlue: #08415C;
$peach: #EBBAB9;
$teal: #388697;

$gutter: 16px;

$menuColor: #388697;